@model CowManagerApp.MVC.Models.CowTreat

<h2>@Model.Cow.Name</h2>
<p>Comments: @Model.Cow.Comment</p>

<h3>Treatment</h3>
<div>
    @Html.ActionLink("Add Treatment", "TreatAdd", "Cow", new { id = Model.Cow.Id }, new { @class = "btn btn-primary" })
</div>
@if (Model.Treatments.Any())
{
    <ul>
        @foreach (var treats in Model.Treatments)
        {
            <li>
                Disease: @treats.NameOfDisease
                <br />
                Comment: @treats.Comment
                <br />
                <a asp-action="TreatRemove" asp-route-id="@diagnosis.Id">Delete</a>
                <a asp-action="TreatEdit" asp-route-id="@diagnosis.Id">Edit</a>
            </li>
        }
    </ul>
}
else
{
    <p>No diagnoses found for this cow.</p>
}
