@model CowManagerApp.MVC.Models.CowTreat

<h2>@Model.Cow.Name</h2>
<p>Comments: @Model.Cow.Comment</p>
<h2>@Model.Treatments[0].Iddiagnosis</h2>

<h3>Treatment</h3>
<a asp-action="TreatForDiagAdd" asp-controller="Cow" asp-route-idd="@Model.Treatments[0].Iddiagnosis" asp-route-idk="@Model.Cow.Id">Add treatment</a>
@if (Model.Treatments.Any())
{
    <ul>
        @foreach (var treats in Model.Treatments)
        {
            <li>
                Medicine: @treats.NameOfMedicine
                <br />
                Comment: @treats.Comment
                <br />
                <a asp-action="MedicineDetails" asp-controller="Medicine" asp-route-id="@treats.Idmedicine">Details</a>
                <a asp-action="TreatRemove" asp-route-id="@treats.Id">Delete</a>
                <a asp-action="TreatEdit" asp-route-id="@treats.Id">Edit</a>
            </li>
        }
    </ul>
}
else
{
    <p>No diagnoses found for this cow.</p>
}